@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

$dark-gray: hsl(0, 0%, 17%);
$gray: hsl(0, 0%, 59%);

*{
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
}


